## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop('EIN', axis = 1)
application_df = application_df.drop('NAME', axis = 1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df_app_type_VC = application_df['APPLICATION_TYPE'].value_counts()
application_df_app_type_VC

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = application_df_app_type_VC[application_df_app_type_VC <200].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df_class_VC = application_df['CLASSIFICATION'].value_counts()
application_df_class_VC

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1570        1
C1283        1
C2170        1
C2500        1
C2561        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_to_keep = application_df_class_VC[application_df_class_VC > 1]
classifications_to_keep

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C2400        6
C4100        6
C1720        6
C1257        5
C1600        5
C2710        3
C1260        3
C0           3
C1256        2
C1267        2
C1246        2
C3200        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df_class_VC[application_df_class_VC == 1].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1267        2
C1256        2
C1246        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [9]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [10]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_convert_df = pd.get_dummies(application_df, columns=['INCOME_AMT', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
    'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS'])
application_convert_df = application_convert_df.drop('SPECIAL_CONSIDERATIONS_Y', axis = 1)
application_convert_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,...,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1,1,108590,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
3,1,6692,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
4,1,142590,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
34295,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
34296,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
34297,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
34298,1,36500179,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,1

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_convert_df.drop("IS_SUCCESSFUL", axis=1)
y = application_convert_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = 82 # len(X_train)
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# # First hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# # Second hidden layer
# nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = "relu"))

# # train set / data (n_samples, height, width, channels)
# X_train = X_train.reshape(2, 80, 30, 1)
# X_train = X_train.astype('float32') / 255

# You can use tf.expand_dims to add a dimension
# X_train = tf.expand_dims(X_train, axis = -1)

# # train set / target 
# y_train = tf.keras.utils.to_categorical(y_train , num_classes=10)


# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_13 (Dense)             (None, 80)                6640
_________________________________________________________________
dense_14 (Dense)             (None, 30)                2430
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 31
=================================================================
Total params: 9,101
Trainable params: 9,101
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 625us/step - loss: 0.5729 - accuracy: 0.7169
Epoch 2/100
804/804 [==============================] - 1s 683us/step - loss: 0.5545 - accuracy: 0.7282
Epoch 3/100
804/804 [==============================] - 0s 619us/step - loss: 0.5515 - accuracy: 0.7302
Epoch 4/100
804/804 [==============================] - 0s 604us/step - loss: 0.5485 - accuracy: 0.7308
Epoch 5/100
804/804 [==============================] - 1s 650us/step - loss: 0.5461 - accuracy: 0.7326
Epoch 6/100
804/804 [==============================] - 0s 619us/step - loss: 0.5451 - accuracy: 0.7320
Epoch 7/100
804/804 [==============================] - 1s 714us/step - loss: 0.5441 - accuracy: 0.7334
Epoch 8/100
804/804 [==============================] - 1s 728us/step - loss: 0.5440 - accuracy: 0.7339
Epoch 9/100
804/804 [==============================] - 1s 744us/step - loss: 0.5422 - accuracy: 0.7354
Epoch 10/100
804/804 [==============================] - 1s 647us/step - loss: 0.5418 - accuracy: 0.7362
Epoch 11/100
804/804 [==============================] - 1s 671us/step - loss: 0.5411 - accuracy: 0.7365
Epoch 12/100
804/804 [==============================] - 0s 618us/step - loss: 0.5412 - accuracy: 0.7367
Epoch 13/100
804/804 [==============================] - 0s 581us/step - loss: 0.5405 - accuracy: 0.7353
Epoch 14/100
804/804 [==============================] - 0s 619us/step - loss: 0.5401 - accuracy: 0.7366
Epoch 15/100
804/804 [==============================] - 1s 716us/step - loss: 0.5387 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 1s 731us/step - loss: 0.5395 - accuracy: 0.7374
Epoch 17/100
804/804 [==============================] - 1s 703us/step - loss: 0.5391 - accuracy: 0.7358
Epoch 18/100
804/804 [==============================] - 1s 723us/step - loss: 0.5380 - accuracy: 0.7383
Epoch 19/100
804/804 [==============================] - 1s 738us/step - loss: 0.5387 - accuracy: 0.7383
Epoch 20/100
804/804 [==============================] - 1s 647us/step - loss: 0.5376 - accuracy: 0.7382
Epoch 21/100
804/804 [==============================] - 1s 665us/step - loss: 0.5370 - accuracy: 0.7388
Epoch 22/100
804/804 [==============================] - 1s 707us/step - loss: 0.5369 - accuracy: 0.7388
Epoch 23/100
804/804 [==============================] - 1s 658us/step - loss: 0.5369 - accuracy: 0.7383
Epoch 24/100
804/804 [==============================] - 1s 668us/step - loss: 0.5366 - accuracy: 0.7397
Epoch 25/100
804/804 [==============================] - 1s 748us/step - loss: 0.5364 - accuracy: 0.7383
Epoch 26/100
804/804 [==============================] - 1s 684us/step - loss: 0.5361 - accuracy: 0.7399
Epoch 27/100
804/804 [==============================] - 1s 777us/step - loss: 0.5357 - accuracy: 0.74000s - loss: 0.5361 - accuracy:
Epoch 28/100
804/804 [==============================] - 0s 607us/step - loss: 0.5354 - accuracy: 0.7400
Epoch 29/100
804/804 [==============================] - 1s 720us/step - loss: 0.5352 - accuracy: 0.7393
Epoch 30/100
804/804 [==============================] - 1s 764us/step - loss: 0.5354 - accuracy: 0.74030s - loss: 0.5330 - ac
Epoch 31/100
804/804 [==============================] - 1s 674us/step - loss: 0.5349 - accuracy: 0.7387
Epoch 32/100
804/804 [==============================] - 1s 702us/step - loss: 0.5350 - accuracy: 0.7406
Epoch 33/100
804/804 [==============================] - 1s 672us/step - loss: 0.5341 - accuracy: 0.7404
Epoch 34/100
804/804 [==============================] - 1s 707us/step - loss: 0.5346 - accuracy: 0.7405
Epoch 35/100
804/804 [==============================] - 1s 719us/step - loss: 0.5340 - accuracy: 0.7408
Epoch 36/100
804/804 [==============================] - 1s 818us/step - loss: 0.5343 - accuracy: 0.7409
Epoch 37/100
804/804 [==============================] - 1s 914us/step - loss: 0.5339 - accuracy: 0.7402
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7405
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7405
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7413
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7407
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7411
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7405
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7417
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7412
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7416
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7411
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7415
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7420
Epoch 53/100
804/804 [==============================] - 1s 954us/step - loss: 0.5317 - accuracy: 0.7416
Epoch 54/100
804/804 [==============================] - 1s 974us/step - loss: 0.5312 - accuracy: 0.7414
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7419
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7415
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7418
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7415
Epoch 59/100
804/804 [==============================] - 1s 996us/step - loss: 0.5310 - accuracy: 0.7416
Epoch 60/100
804/804 [==============================] - 1s 943us/step - loss: 0.5312 - accuracy: 0.7413
Epoch 61/100
804/804 [==============================] - 1s 866us/step - loss: 0.5304 - accuracy: 0.7424
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7420
Epoch 63/100
804/804 [==============================] - 1s 932us/step - loss: 0.5301 - accuracy: 0.7420
Epoch 64/100
804/804 [==============================] - 1s 954us/step - loss: 0.5311 - accuracy: 0.7416
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7422
Epoch 66/100
804/804 [==============================] - 1s 938us/step - loss: 0.5310 - accuracy: 0.7420
Epoch 67/100
804/804 [==============================] - 1s 939us/step - loss: 0.5303 - accuracy: 0.7418
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7428
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7416
Epoch 70/100
804/804 [==============================] - 1s 750us/step - loss: 0.5302 - accuracy: 0.7418
Epoch 71/100
804/804 [==============================] - 1s 849us/step - loss: 0.5297 - accuracy: 0.7426
Epoch 72/100
804/804 [==============================] - 1s 963us/step - loss: 0.5299 - accuracy: 0.7418
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7419
Epoch 74/100
804/804 [==============================] - 1s 846us/step - loss: 0.5294 - accuracy: 0.7420
Epoch 75/100
804/804 [==============================] - 1s 807us/step - loss: 0.5300 - accuracy: 0.7421
Epoch 76/100
804/804 [==============================] - 1s 991us/step - loss: 0.5296 - accuracy: 0.7421
Epoch 77/100
804/804 [==============================] - 1s 948us/step - loss: 0.5293 - accuracy: 0.7425
Epoch 78/100
804/804 [==============================] - 1s 993us/step - loss: 0.5296 - accuracy: 0.7427
Epoch 79/100

804/804 [==============================] - 1s 974us/step - loss: 0.5295 - accuracy: 0.7414
Epoch 80/100
804/804 [==============================] - 1s 905us/step - loss: 0.5288 - accuracy: 0.7429
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7418
Epoch 82/100
804/804 [==============================] - 1s 915us/step - loss: 0.5294 - accuracy: 0.7437
Epoch 83/100
804/804 [==============================] - 1s 888us/step - loss: 0.5289 - accuracy: 0.7432
Epoch 84/100
804/804 [==============================] - 1s 989us/step - loss: 0.5289 - accuracy: 0.7426
Epoch 85/100
804/804 [==============================] - 1s 962us/step - loss: 0.5289 - accuracy: 0.7423
Epoch 86/100
804/804 [==============================] - 1s 976us/step - loss: 0.5288 - accuracy: 0.7421
Epoch 87/100
804/804 [==============================] - 1s 820us/step - loss: 0.5292 - accuracy: 0.7425
Epoch 88/100
804/804 [==============================] - 1s 811us/step - loss: 0.5284 - accuracy: 0.7431
Epoch 89/100
804/804 [==============================] - 1s 884us/step - loss: 0.5286 - accuracy: 0.7423
Epoch 90/100
804/804 [==============================] - 1s 878us/step - loss: 0.5283 - accuracy: 0.7428
Epoch 91/100
804/804 [==============================] - 1s 866us/step - loss: 0.5287 - accuracy: 0.7420
Epoch 92/100
804/804 [==============================] - 1s 966us/step - loss: 0.5292 - accuracy: 0.74210s - loss: 0.5290 - accuracy: 0.74
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7427
Epoch 94/100
804/804 [==============================] - 1s 920us/step - loss: 0.5284 - accuracy: 0.7426
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7421
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7420
Epoch 97/100
804/804 [==============================] - 1s 993us/step - loss: 0.5287 - accuracy: 0.7425
Epoch 98/100
804/804 [==============================] - 1s 871us/step - loss: 0.5281 - accuracy: 0.7430
Epoch 99/100
804/804 [==============================] - 1s 993us/step - loss: 0.5284 - accuracy: 0.7420
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7426

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5633 - accuracy: 0.7307
Loss: 0.5633424520492554, Accuracy: 0.7307288646697998

In [39]:
import h5py
# Export our model to HDF5 file
h5File = "fromdf.h5"

nn.to_hdf(h5File, "/data/d1")

AttributeError: 'Sequential' object has no attribute 'to_hdf'

### Data Preprocessing
####     * What variable(s) are considered the target(s) for your model?
####     * What variable(s) are considered to be the features for your model?
####     * What variable(s) are neither targets nor features, and should be removed from the input data?
### Compiling, Training, and Evaluating the Model
####     * How many neurons, layers, and activation functions did you select for your neural network model, and why?
####     * Were you able to achieve the target model performance?
####    * What steps did you take to try and increase model performance?

### Summary: Summarize the overall results of the deep learning model. Include a recommendation for how a different model could solve this classification problem, and explain your recommendation.